<style>

h1 {
	font-family: 'Petit Formal Script', ariel;
	font-size: 100px;
}

.row {
 	font-size: large;
 	font-family: cursive;
 	margin-top: 100px;
 	padding: 20px;
 	background-color: #00CCCC;
 	}
 .btn-default {
 	margin-bottom: 30px;
 	margin-top: 50px;
 }

</style>